$primary-text-color: #262626;
$secondary-text-color: #ffffff;
$small-text-color:  #737373;

$primary-bg-color: #ffffff;
$secondary-bg-color: #f5f4f4;
$accent-bg-color: #E6DED8;

$banner-bg-color: #000000;

$navigation-border-color: #DDDBDC;

$primary-button-color: #ffffff;

$footer-button-color: #262626;