.banner {
    background-color: $banner-bg-color;
    color: $secondary-text-color;
    width: 100%;
    padding: toRem(7) toRem(30);
    letter-spacing: toRem(0.2);

    &__text {
        flex: 1;
        justify-self: center;
        gap: toRem(4);
    }

    &__region {
        gap: toRem(12);
    }
}