.category-wrapper {
    padding: toRem(90) toRem(42);
}

.category {
    height: toRem(650);
}

.categories{
    padding-top: toRem(20);
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    img {
        object-fit: cover;
    }
}