
.product {
    display: flex;
    flex-wrap: wrap;
    max-width: toRem(1200);
    margin: 0 auto;
    padding: toRem(20);
    gap: toRem(40);

    &__image {
      flex: 1 1 40%;
      max-width: toRem(400);
      margin-right: toRem(20);

      img{
        width: 100%;
        height: auto;
        border-radius: toRem(8);
      }
    }

    &__details {
      flex: 1 1 60%;
    }

    &__title {
      margin: toRem(10) 0;
      font-weight: 600;
    }

    &__category {
      color: $small-text-color;
      margin-bottom: toRem(10);
    }

    &__price {
      font-weight: 600;
      margin-bottom: toRem(15);
      color: $accent-text-color;
    }

    &__description {
      color: $small-text-color;
      margin-bottom: toRem(20);
    }

    &__rating {
      display: flex;
      align-items: center;
    }

    &__rate {
      font-weight: bold;
      margin-right: toRem(10);
    }

    &__count {
      color: $small-text-color;
    }

    &__buy {
      padding-top: toRem(20);
    }

  }